@import "tailwindcss";
@plugin "daisyui" {
  themes: night;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px) rotate(-2deg); }
  40% { transform: translateX(2px) rotate(2deg); }
  60% { transform: translateX(-2px) rotate(-2deg); }
  80% { transform: translateX(2px) rotate(2deg); }
  100% { transform: translateX(0); }
}
